<section id="about" class="section bg-light">
    <div class="container">
        <h2 class="section-title text-center">Über mich</h2>
        <div class="row align-items-center">
            <div class="col-12 col-md-4 text-center mb-4 mb-md-0">
                <img src="/images/profilbild.webp" alt="Ihr Profilbild" class="profile-img rounded-circle">
            </div>
            <div class="col-12 col-md-8">
                <p class="mb-3">Meine Expertise reicht von .Net und Flutter bis hin zur Implementierung robuster Backend-Systeme. </p>
                <p class="mb-3">Dabei sind mir sauberer, gut dokumentierter Code und agile Prozesse wie CI/CD besonders wichtig. </p>
                <p>Die Tech-Welt steht niemals still – und ich auch nicht. Deshalb investiere ich kontinuierlich Zeit darin, neue Technologien zu erlernen und meine Fähigkeiten zu schärfen. </p>
            </div>
        </div>
    </div>
</section>