<section id="about" class="section bg-light">
    <div class="container">
        <h2 class="section-title text-center">Über mich</h2>
        <div class="row align-items-center">
            <div class="col-12 col-md-4 text-center mb-4 mb-md-0">
                <img src="/images/profilbild.webp" alt="Ihr Profilbild" class="profile-img rounded-circle">
            </div>
            <div class="col-12 col-md-8">
                <p class="mb-3">Als leidenschaftlicher Software-Entwickler konzentriere ich mich auf die Erstellung robuster und skalierbarer Anwendungen. Mit einem starken Hintergrund in verschiedenen Programmiersprachen und Frameworks strebe ich danach, elegante Lösungen für komplexe Probleme zu finden. </p>
                <p class="mb-3">Meine Erfahrung umfasst die Entwicklung von Webanwendungen, Backend-Systemen und DevOps-Praktiken. Ich lege besonderen Wert auf sauberen, wartbaren Code und kontinuierliche Integration. </p>
                <p>Wenn ich nicht code, lerne ich ständig neue Technologien und Methoden, um meine Fähigkeiten zu erweitern und auf dem neuesten Stand zu bleiben. </p>
            </div>
        </div>
    </div>
</section>