<section id="contact" class="section">
    <div class="container">
        <h2 class="section-title text-center">Kontakt</h2>
        <p class="text-center mb-5">Interessiert an einer Zusammenarbeit oder haben Sie Fragen? Kontaktieren Sie mich über einen der folgenden Kanäle: </p>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <a href="https://github.com/Riksorax" class="contact-link" target="_blank">
                    <div class="contact-icon"><i class="fab fa-github"></i></div>
                    <div>
                        <h3 class="mb-1">GitHub</h3>
                        <p class="mb-0">github.com/Riksorax</p>
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/frank-speulmans/" class="contact-link" target="_blank">
                    <div class="contact-icon"><i class="fab fa-linkedin"></i></div>
                    <div>
                        <h3 class="mb-1">LinkedIn</h3>
                        <p class="mb-0">linkedin.com/in/frank-speulmans-14aa9b187</p>
                    </div>
                </a>
                <a href="mailto:franksp20.fs@gmail.com" class="contact-link">
                    <div class="contact-icon"><i class="fas fa-envelope"></i></div>
                    <div>
                        <h3 class="mb-1">E-Mail</h3>
                        <p class="mb-0">Franksp20.fs@@gmail.com</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>