<section id="skills" class="section bg-gray">
    <div class="container">
        <h2 class="section-title text-center">Fähigkeiten &amp; Technologien</h2>
        <div class="skills-container">
            <div class="skill-category">
                <h3>Programmiersprachen</h3>
                <div class="skill-item">
                    <img src="skill-icons/CSharp.svg" alt="C# Icon" class="skill-icon" />
                    <span>C#</span>
                </div>
                <div class="skill-item">
                    <img src="skill-icons/Dart.svg" alt="Dart" class="skill-icon" />
                    <span>Dart</span>
                </div>
                <div class="skill-item">
                    <img src="skill-icons/JavaScript.svg" alt="JavaScript" class="skill-icon" />
                    <span>JavaScript</span>
                </div>
            </div>
            <div class="skill-category">
                <h3>Frontend</h3>
                <div class="skill-item">
                    <img src="skill-icons/HTML5.svg" alt="HTML5" class="skill-icon" />
                    <span>HTML5</span>
                </div>
                <div class="skill-item">
                    <img src="skill-icons/blazor.svg" alt="Blazor" class="skill-icon" />
                    <span>Blazor</span>
                </div>
                <div class="skill-item">
                    <img src="skill-icons/microsoft.svg" alt="Razor" class="skill-icon" />
                    <span>Razor</span>
                </div>
                <div class="skill-item">
                    <img src="skill-icons/Bootstrap.svg" alt="Bootstrap" class="skill-icon" />
                    <span>Bootstrap</span>
                </div>
                <div class="skill-item">
                    <img src="skill-icons/CSS3.svg" alt="CSS3" class="skill-icon" />
                    <span>CSS3</span>
                </div>
                <div class="skill-item">
                    <img src="skill-icons/Flutter.svg" alt="Flutter" class="skill-icon" />
                    <span>Flutter</span>
                </div>
                
            </div>
            <div class="skill-category">
                <h3>Backend</h3>
                <div class="skill-item">
                    <img src="skill-icons/NET.svg" alt=".NET" class="skill-icon" />
                    <span>.NET</span>
                </div>
                <div class="skill-item">
                    <img src="skill-icons/Mariadb.svg" alt="DBeaver" class="skill-icon" />
                    <span>MariaDB</span>
                </div>
            </div>
            <div class="skill-category">
                <h3>DevOps &amp; Tools</h3>
                <div class="skill-item">
                    <img src="skill-icons/Git.svg" alt="Git" class="skill-icon" />
                    <span>Git</span>
                </div>
                <div class="skill-item">
                    <img src="skill-icons/Docker.svg" alt="Docker" class="skill-icon" />
                    <span>Docker</span>
                </div>
                <div class="skill-item">
                    <img src="skill-icons/Azure Devops.svg" alt="Azure DevOps" class="skill-icon" />
                    <span>Azure DevOps</span>
                </div>
                <div class="skill-item">
                    <img src="skill-icons/GitHub.svg" alt="GitHub" class="skill-icon" />
                    <span>GitHub</span>
                </div>
                <div class="skill-item">
                    <img src="skill-icons/Rider.svg" alt="Rider" class="skill-icon" />
                    <span>Rider</span>
                </div>
                <div class="skill-item">
                    <img src="skill-icons/Android Studio.svg" alt="Android Studio" class="skill-icon" />
                    <span>Android Studio</span>
                </div>
                <div class="skill-item">
                    <img src="skill-icons/Jira.svg" alt="Jira" class="skill-icon" />
                    <span>Jira</span>
                </div>
                <div class="skill-item">
                    <img src="skill-icons/DBeaver.svg" alt="DBeaver" class="skill-icon" />
                    <span>DBeaver</span>
                </div>
                <div class="skill-item">
                    <img src="skill-icons/Postman.svg" alt="Postman" class="skill-icon" />
                    <span>Postman</span>
                </div>
            </div>
        </div>
    </div>
</section>