<footer class="footer">
    <div class="container">
        <div class="social-links">
            <a href="https://github.com/Riksorax" class="social-link" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/frank-speulmans/" class="social-link" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <p class="text-center mb-0">© <span id="year"></span> Frank Speulmans. Alle Rechte vorbehalten. </p>
    </div>
</footer>